<div class="aside-fileter">
  <div class="col-md-12 col-sm-12">
    <div class="inner-filter-avblt">
      <label for="menu-toggle">
        <strong>AVABILITY</strong>
        <span class="caret"></span>
      </label>
      <input type="checkbox" id="menu-toggle" checked/>
      <ul id="menu">
        <li>
          <label class="avability-checkmark">Exclude Out-of-stock
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
    </div>
    <div class="inner-filter-avblt">
        <label for="menu-toggle">
          <strong>CATEGORY</strong>
          <span class="caret"></span>
        </label>
        <input type="checkbox" id="menu-toggle" checked/>
        <ul id="menu">
          <li>
            <label class="avability-checkmark">New
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
              <label class="avability-checkmark">Open
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </li>
        </ul>
      </div>
      <div class="inner-filter-avblt">
          <label for="menu-toggle">
            <strong>NO OF STRINGS</strong>
            <span class="caret"></span>
          </label>
          <input type="checkbox" id="menu-toggle" checked/>
          <ul id="menu">
            <li>
              <label class="avability-checkmark">2
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </li>
            <li>
                <label class="avability-checkmark">4
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                  <label class="avability-checkmark">6
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </li>
          </ul>
        </div>
        <div class="inner-filter-avblt">
            <label for="menu-toggle">
              <strong>BRAND</strong>
              <span class="caret"></span>
            </label>
            <input type="checkbox" id="menu-toggle" checked/>
            <ul id="menu">
              <li>
                <label class="avability-checkmark">Yamaha
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                  <label class="avability-checkmark">Zoom
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                    <label class="avability-checkmark">Fender
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                      <label class="avability-checkmark">Samson
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
            </ul>
          </div>
  </div>
</div>